#fondoModal{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
}

.contenidoModal{
    position: fixed;
    background-color: whitesmoke;
    min-width:500px ;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
    animation: animatezoom 0.6s;
    

}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

form{

    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 1rem;
        
}

h2{
    font-size: 22pt;
    padding-bottom: 10px;
    border-bottom: 4px solid black;
    font-weight: bold;
    padding-left: -1rem;   
}

.inputConLogo{
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 6px;
    border: 2px solid #13AFDF;
    padding-left: 5px;
    margin-top: 1rem;
} 

.inputDato{
    
    border: none;
    font-size: 16px;
    
    text-align: center;
    width: auto;
    margin: 1rem 0;
}
.inputDato:focus{
    outline: 0px;
}


#inicioSesion{
    display: flex;
    align-items: center;
}

    

@media(max-width: 1000px){
    .contenidoModal{    
        }
}

@media(max-width: 600px){
    .contenidoModal{
    }
}

@media(max-width: 400px){
    .contenidoModal{
    }
}

#botonesFormulario{
    display: flex;
    justify-content:space-between ;
    background-color: ;
}

.botonEnviar{
    color: white;
    border: none;
    margin: 1rem 0;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
    width: 106px;
    background-color: #4DAA50;
    box-shadow: 4px 2px 5px 0px rgba(0,0,0,0.75);
    font-weight: bolder;
}

.botonEnviar:hover {
    background-color: rgb(21, 109, 24);
}
    
.botonEnviar:active {
    background-color: #4DAA50;
    box-shadow: none;
}


.botonEnviar input{
    background-color: #4DAA50;
    border: none;
    font-size: 16px;
}

.boton_rojo{
    color: white;
    background-color:rgb(61, 108, 238);
    margin: 1rem 0px ;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    width: 110px;
    padding: 18px 0px;
    text-align: center;
    font-size: 16px;
    box-shadow: 4px 2px 5px 0px rgba(0,0,0,0.75);
    font-weight: bolder;
        
    }
.boton_rojo:hover{
    background-color:rgb(141, 0, 0);
}

.boton_rojo:active{
    background-color:red;
    box-shadow: none;
}

.contacto{
    display: flex;
   
    justify-content: center;
    align-items: center;
}
.contacto p a{
    color: #1a73e8;
    font-weight: 600;
    letter-spacing: .25px;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
}