body {
    font-family: 'Fira Sans', sans-serif;

}

body,
html {
    margin: 0;
    padding: 0;
}


.principal {
    background-image: url(./imgs/imagen_fondo_u1.jpg);
    height: 765px;
    margin-top: 50px;
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-end;
    flex: 1 1 auto;
    align-items: center;
}

.principalSinReset {
    background-image: url(./imgs/imagen_fondo_u1.jpg);
    height: 765px;
    margin-top: 50px;
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    flex: 1 1 auto;
    align-items: center;
}



.principalSinReset .compra {
    height: 65px;
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid black;




}

.principalSinReset .compra a {
    height: 47px;
    width: 178px;
    border: 2px solid #4DAA50;
    margin: auto auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4DAA50;
    text-decoration: none;
}


.principal .compra {
    height: 65px;
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid black;




}

.principal .compra a {
    height: 47px;
    width: 178px;
    background: white;
    border: 2px solid #4DAA50;
    margin: auto auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4DAA50;
    text-decoration: none;
}

.principal .compra a:hover {
    background: #4DAA50;
    color: white;
}

.eslogan {

    text-align: center;
    font-size: 72px;


}

.principal .borde p {
    font-size: 36px;
    padding: 50px;
}

header {
    position: fixed;
    display: flex;

    width: 100%;
    margin-top: -50px;
    height: 50px;
    justify-content: space-between;

    align-items: center;
    background: white;


}

.Boton_sesion {
    background: #4DAA50;
    width: 119px;
    height: 37px;
    margin: 50px;






}

.Boton_sesion a {
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 0px green;

    text-decoration: none;
}

header img {

    height: 70px;


}

.carac {
    display: flex;
    background: #E8F5E9;
}

.carac article {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 10px;
    padding-left: -5px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px;
    border-right: 1px solid #334455;
}

.carac img {
    height: 150px;
    width: 257px;
}

footer {
    background: black;
    color: aliceblue;
    width: 100%;
    text-align: center;


}

footer li {
    margin: 0 auto;
    padding: 20px;
    display: flex;
    font-size: 10px;
    justify-content: space-between;
    max-width: 600px;

}

footer li a {
    color: #aaaaaa;
    text-decoration: none;
}

footer li a:hover {
    color: #ffffff
}

footer p {
    font-size: 10px;
    color: white;
    padding-bottom: 10px;
}




@media(max-width:950px) {
    .principal {
        height: 690px;
    }

    .carac {
        flex-direction: column;
    }

    .carac article {
        border-bottom: 1px solid black;
        margin-left: 20px;
        margin-right: 20px;
        border-right: 0px solid #334455;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .eslogan {

        text-align: center;
        font-size: 48px;
        padding: 20px;
    }

    .principal .borde p {
        margin-top: -50px;
        font-size: 32px;
        padding: 10px;
        border: 5px solid white;
        border-radius: 10px;
    }

    .principal .borde {
        padding: 50px;
    }
}




@media(max-width:670px) {
    .principal {
        height: 590px;
    }

    .carac {
        flex-direction: column;
    }

    .carac article {
        border-bottom: 1px solid black;
        margin-left: 20px;
        margin-right: 20px;
        border-right: 0px solid #334455;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .eslogan {

        text-align: center;
        font-size: 28px;
        padding: 20px;
    }

    .principal .borde p {
        margin-top: -50px;
        font-size: 20px;
        padding: 10px;
        border: 5px solid white;
        border-radius: 10px;
    }

    .principal .borde {
        padding: 50px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@viewport {
    zoom: 1.0;
    width: extend-to-zoom;

}

@-ms-viewport {
    width: extend-to-zoom;
    zoom: 1.0;
}
